Early media only works with 183 Session Progress

Currently, SIPUserAgent's ClientCallRingingHandler will only handle early media if it comes in a 183 Session Progress response. So if SDP is sent in any other provisional response (and then not resent in the 2xx final response), the UAC can't handle it. I believe the RFC compliant approach is to allow early media in any provisional response with code >100. 

Looks like a simple change in ClientCallRingingHandler. I'll have a PR in shortly.

RFC 3261 section 13.2.1
> That same exact answer MAY also be placed in any provisional responses sent prior to the answer.  The UAC MUST treat the first session description it receives as the answer, and MUST ignore any session descriptions in subsequent responses to the initial INVITE.

section 21.1
> Provisional (1xx) responses MAY contain message bodies, including session descriptions.

RFC 3262 section 3
> A UAS MUST NOT attempt to send a 100 (Trying) response reliably. Only provisional responses numbered 101 to 199 may be sent reliably.

RFC 3262 section 5
> If the INVITE contained an offer, the UAS MAY generate an answer in a reliable provisional response